{% extends "base.html.twig" %}

{% block body %}

    <h1>La formation au DUT G.E.A en année spéciale</h1>

    <section id="videoPresentation">
        <h2>Vidéo de présentation</h2>
        <video id="presentationGEA" controls>
            <source src="{{ asset('/assets/video/presentation_as_gea.mp4') }}" type="video/mp4">
        </video>
    </section>

    <section id="laFormation">
        <h2>Qu'est ce que l'année spéciale ?</h2>

        <article>
            <div class="articleIllustration" id="illustrationStudy">
            </div>
            <div class="texte">
                <p>
                    Vous avez envie de vous réorienter ou de changer de métier ?  Le domaine de la gestion vous intéresse ? L’Année Spéciale est faite pour vous !
                </p>
                <p>
                    L’Année Spéciale GEA, qu’est-ce que c’est ?
                </p>
                <p>
                    L’Année Spéciale, également appelée AS GEA, permet de préparer le DUT GEA en un an. L’organisation des enseignements en effectif réduit offre de bonnes conditions d’apprentissage et un lien direct avec les enseignants.
                </p>
                <p>
                    Au premier semestre, les cours sont communs à l’ensemble de la promotion. Puis les étudiants choisissent une spécialité au second semestre : Gestion Comptable et Financière (GCF) ou Gestion et Management des Organisations).
                </p>
                <a href="https://iut-charlemagne.univ-lorraine.fr/gea/dut-gea-en-annee-speciale/" target="_blank">
                    <img src="https://iut-charlemagne.univ-lorraine.fr/wp-content/uploads/2018/08/logo-orange-et-rouge.png" alt="logo de l'IUT Nancy Charlemagne">
                    <p>
                        Voir la page de l'IUT Charlemagne
                    </p>
                </a>
            </div>
        </article>
    </section>

    <section id="conditionsAcces">
        <h2>Les conditions d'accès</h2>

        <article>
            <div class="articleIllustration" id="illustrationSalle">
            </div>
            <div class="texte">
                <p>
                    La formation est accessible dès Bac +2 ou par le biais de la Formation Continue.
                    Le recrutement se fait dossier. Il peut être complété par un entretien visant à mieux connaître l’étudiant, ses motivations et son projet professionnel.
                </p>
            </div>
        </article>
    </section>

    <section id="debouches">
        <h2>Quels débouchés après l'année spéciale ?</h2>

        <article>
            <div class="articleIllustration" id="illustrationDebouches">
            </div>
            <div class="texte">
                <p>
                    Le DUT GEA ouvre une multitude de débouchés dans le monde professionnel : comptabilité, contrôlé de gestion, ressources humaines, management, marketing, communication, création d’entreprise.
                </p>
                <p>
                    Les poursuites d’études sont également possibles : licences générales (gestion, AES, etc.), licences professionnelles, diplôme de la filière d’expertise comptable (DCG pour niveau Bac+3), écoles de commerce etc.
                </p>
                <p>
                    <strong>
                        En bref, le DUT GEA offre de nombreuses perspectives.
                    </strong>
                </p>
            </div>
        </article>
    </section>

    <section id="testimonial">
        <h2>Témoignages d'étudiants d'année spéciale</h2>
        <div id="temoignages">
            <btn class="btn_nav" id="btnLeft">
                <span class="material-icons">
                    keyboard_arrow_left
                </span>
            </btn>
            <div id="articlesTemoignage">
                <article class="temoignage">
                    <div class="texte">
                        <p>
                            Suite à mon expérience professionnelle de plus de 10 ans en comptabilité, j’ai voulue faire une formation continue et j’ai choisi l’As Gea pour connaître le domaine des RH afin de compléter mon parcours et d’évoluer dans mon métier.
                        </p>
                        <strong>Abla, 34 ans</strong>
                    </div>
                </article>
            </div>
            <btn class="btn_nav" id="btnRight">
                <span class="material-icons">
                    keyboard_arrow_right
                </span>
            </btn>
        </div>
    </section>
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ asset('assets/style/css/formation.min.css') }}">
{% endblock %}

{%  block js %}
    {{ parent() }}
    <script src="{{ asset('assets/js/testimonial.js') }}"></script>
{% endblock %}
