{% extends "base.html.twig" %}

{% block body %}

    <h1>La formation au DUT G.E.A en année spéciale</h1>

    <section id="videoPresentation">
        <h2>Vidéo de présentation</h2>
        <video id="presentationGEA" controls>
            <source src="{{ asset('/assets/video/presentation_as_gea.mp4') }}" type="video/mp4">
        </video>
    </section>

    <section id="laFormation">
        <h2>Qu'est ce que l'année spéciale ?</h2>

        <article>
            <div class="articleIllustration">
            </div>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad doloremque eligendi iste nemo nostrum numquam praesentium sed? Ab consectetur deleniti, ea earum error facere fugiat incidunt, libero nisi omnis placeat quae quidem quo quos rem sint tempora. Aperiam aut dignissimos doloremque est minima nam, odit officia recusandae tempora totam! Assumenda dicta eos hic illum, in iste magni non praesentium quis tempora temporibus veniam voluptatibus! A animi dignissimos illum nemo repellendus? Dolorem doloremque neque provident voluptatum! Adipisci alias animi aspernatur, dolorem ducimus enim est eveniet facilis itaque labore, laboriosam molestiae mollitia nisi odit officiis omnis porro repellat saepe sapiente tempora temporibus unde veritatis? Alias aliquid, commodi corporis dignissimos doloremque dolorum eaque esse laboriosam nam non officiis repellendus tempore temporibus? Ad aliquam autem distinctio earum eligendi eos et facere, harum ipsam magni molestiae natus nostrum provident quae suscipit tempore vel? Aperiam commodi ducimus eos minima necessitatibus optio perspiciatis quis, recusandae rem repellat?
            </p>
            <a href="https://iut-charlemagne.univ-lorraine.fr/gea/dut-gea-en-annee-speciale/" target="_blank">
                <img src="https://iut-charlemagne.univ-lorraine.fr/wp-content/uploads/2018/08/logo-orange-et-rouge.png" alt="logo de l'IUT Nancy Charlemagne">
                <p>
                    Voir la page de l'IUT Charlemagne
                </p>
            </a>
        </article>
    </section>

{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ asset('assets/style/css/formation.min.css') }}">
{% endblock %}
