<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <title>{% block title %}AS GEA{% endblock %}</title>
        {% block css %}{% endblock %}
        {# include commun style #}
        <link rel="stylesheet" href="{{ asset('assets/style/css/style.min.css') }}">
        {# include material icons #}
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
              rel="stylesheet">
    </head>
    <body>
        <header class="navbar">
            <a title="Logo de l'AS GEA" alt="Logo de l'AS GEA" id="logo" href="{{ path('HomePage') }}"></a>

            <button id="menuButton" class="btn-bleu">
                <span class="button_text">
                    MENU
                </span>
                <span class="material-icons">
                    menu
                </span>
            </button>


            <div id="menus">
                <button id="closeMenus">X</button>
                <div id="logoNav"></div>
                <nav>
                    <ul>
                        <li>
                            <a href="#">
                                <span class="material-icons">
                                    home
                                </span>
                                ACCUEIL
                            </a>
                        </li>

                        <li>
                            <a href="#">
                                <span class="material-icons">
                                    school
                                </span>
                                LA FORMATION
                            </a>
                        </li>

                        <li>
                            <a href="{{ path('Contact') }}">
                                <span class="material-icons">
                                    email
                                </span>
                                CONTACT
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </header>

        <div class="page_content">
            {% block body %}{% endblock %}
        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>    </body>
        <script src="{{ asset('assets/js/navbar.js') }}"></script>
        {% block js %}{% endblock %}
</html>
<!doctype html>
