@import "variables";
@import "mixins";

header.navbar{
  @include flex_center_vertically;
  @include box-shadow(0px, 5px, 5px, $darkGrey);
  justify-content: space-between;
  padding: 0 25px;
  min-height: 150px;
  min-width: 100%;
  max-width: 100%;
  background: white;
  position: fixed;
  top: 0;
  z-index: 1000;

  /* bouton d'ouverture du menu */

  button#menuButton{
    padding: 5px 10px;
    //border: 1px solid $darkGrey;
    //color: $darkGrey;
    border-radius: 5px;
    @include flex_center_vertically_horizontally;
    @include box-shadow(1px, 1px, 3px, $darkGrey);

    & > span.material-icons {
      margin-right: 10px;
    }
  }

  // colorisation v1
/*  button#menuButton{
    border: 1px solid $blue;
    background: none;
    color: $blue;
  }*/

  // colorisation v2
/*  button#menuButton{
    border: 1px solid $darkGrey;
    background: none;
    color: $darkGrey;
  }*/

  // colorisation v3
/*  button#menuButton{
    border: 1px solid $corail;
    background: none;
    color: $corail;
    @include box-shadow(1px, 1px, 3px, darken($corail, 35));
  }*/


  // colorisation v4
/*    button#menuButton{
      background: $blue;
      color: white;
      border : none;
      @include box-shadow(1px, 1px, 3px, darken($blue, 35));
      border-radius: 0;
    }*/

  /* logo */

  #logo{
    $width: 100px;
    $height: 80px;
    min-width: $width;
    max-width: $width;
    max-height: $height;
    min-height: $height;
    border-radius: 5px;
    background-color: $darkGrey !important;

    @include background_image_cover("../../img/logo_transparent.png");

    &:hover{
      background-color: $blue !important;
    }
  }

  /* menus de navigation */
  #menus{
    display: none;

    /* bouton de fermeture */
    #closeMenus{
      padding: 20px 10px;
      color : lightgray;
      position: absolute;
      top: 0px;
      right: 25px;
      text-shadow: 2px 2px 4px darken($blue, 35);
      font-family: $wildZova !important;
      font-size: 24px;
      z-index: 101;
      border: none;
      background: none;

      &:hover{
        cursor: pointer;
      }
    }

    /* logo dans le burger menu */
    div#logoNav{
      @include background_image_cover("../../img/logo_transparent.png");
      position: relative;
      top: 0;
      right: 40vw;
      min-width: 30vw;
      min-height: 15vh;
      z-index: 101;
    }

    /* menus de navigation */
    nav{
      @include flex_column;
      position: absolute;
      right: 0;
      top: 0;
      width: 80%;
      height: 100vh;
      z-index: 100;
      background: lighten($blue, 15);


      /* menus */
      & > ul {
        min-width: 100%;
        min-height: 60%;
        margin-top: 40%;
        padding-left: 0;
      }
      & > ul > li{
        @include flex_center_vertically_horizontally;
        @include box-shadow(0px, 1px, 3px, darken($blue, 35));
        font-family: $wildZova !important;
        list-style-type: none;
        min-width: 100%;
        margin-bottom: 40px;
        padding: 10px 0;
        background-color: $blue;


        &:last-of-type{
          margin-bottom: 0;
        }

        a {
          text-decoration: none;
          color : white;
          @include flex_center_vertically_horizontally;
          word-spacing: 10px;

          span.material-icons{
            margin-right: 15px;
          }
        }
      }
    }
  }
}

/* --------------------------------------------------------------------------------------------------------------------

                                        media queries

---------------------------------------------------------------------------------------------------------------------- */
@media screen and (min-width: 1300px) {
  header.navbar{
    min-height: 125px;

    /* hide mobile buttons */
    button#menuButton, button#closeMenus{
      display: none !important;
    }

    // logo
    #logo{
      min-width: 150px;
      min-height: 100px;
    }

    /* nav bar */
    #menus{
      @include flex_center_vertically_horizontally;
      min-width: 35%;
      max-width: 60%;
      width: auto;
      margin-right: 40px;

      /* logo dans le burger menu */
      div#logoNav{
        display: none;
      }

      nav{
        flex-direction: row !important;
        position: relative;
        min-width: 100% !important;
        flex-wrap: nowrap;
        height: auto;
        background: none;

        ul{
          @include flex_center_vertically;
          justify-content: space-between;
          min-width: 100%;
          max-width: 100%;
          min-height: auto;
          margin: 0;
          padding: 0;

          li{
            width: auto !important;
            min-width: auto;
            margin: 0;
            max-height: 100%;
            min-height: 100%;
            box-shadow: none;
            padding: 15px 0px;
            padding-left: 15px;
            padding-right: 25px;
            transition: background .5s linear;
            background: none;

            &:first-of-type{
              margin-left: 0;
            }

            &:hover{
              background: $blue_green_gradient;
              border-radius: 15px;

              a{
                color : white;
              }
            }

            a{
              color : $darkGrey;
              font-size: 24px;

              span.material-icons{
                font-size: 34px;
              }
            }
          }
        }
      }
    }
  }
}
