@import "mixins";
@import "variables";

div#accueil_landing{
  @include background_image_cover("../../img/salle_accueil_pc.jpg");
  background-position: left center;
  min-height: 70vh;
  max-width: 100%;

  /* contenu */
  #content{
    max-width: 80%;
    margin: 0 auto;
    @include flex_column;

    h1, h2{
      color: darken($darkGrey, 15);
      margin: 0;
      padding: 0;
      font-weight: normal;
    }

    h1{
      text-align: center;
      margin: 20px 0;
      font-size: 40px;
      font-family: $wildZova;
      word-spacing: 20px;
    }
    h2{
      text-align: justify;
      margin-bottom: 30px;
      font-size: 22px;
      line-height: 1.5;
    }
  }

  /* call to action */
  div.callToAction{
    @include flex_column;
    min-width: 100%;

    a{
      margin-bottom: 10px;
    }
  }
}

/* subjet index */
section#recherche{
  min-width: 80%;
  margin: 0 auto;
  margin-bottom: 45px;

  h2{
    font-size: 32px;
    text-align: center;
    margin-top: 45px;
  }

  #optionsRecherche{
    @include flex_column;

    /* div contenuFormation and etudiants*/
    & > div{
      width: 100%;
      display: block;
      margin-top: 45px;

      &:first-of-type{
        margin-top: 0;
      }

     h3{
        margin-left: 10%;
        font-size: 22px;
        color: $blue;
      }

      /* blocks of buttons */
      .actions{
        display: block;
        margin-top: 25px;


        a[class^="btn"]{
          margin-bottom: 15px;
          max-width: 80%;
          margin-left: 10%;

          &:last-of-type{
            margin-bottom: 0;
          }
        }
      }
    }
  }
}


/* _____________________________________________________________________________________________________________________

                                                      media queries

_____________________________________________________________________________________________________________________ */

@media screen and (min-width: 1300px){
    div#accueil_landing{
      background-position: center bottom !important;
      min-height: calc(100vh - 170px);

      #content{
        max-width: 40%;
        float: left;
        margin: 0;
        margin-left: 10%;
        position: relative;
        z-index: 50;

        h1{
          font-size: 62px;
          margin-top: 100px;
          margin-bottom: 100px;
        }

        h2{
          font-size: 28px;
        }

        .callToAction{
          margin-top: 50px;
          flex-direction: row;

          a{
            margin-left: 5%;
          }
        }
      }

      /* on computer, a brand logo is displayed*/
      div#logoPC{
        position : relative;
        top: 10vh;
        left: 25vw;
        min-width: 50vw;
        min-height: 50vh;
        @include background_image("../../img/logo_transparent.png");
      }
    }

    /* subjet index */
    section#recherche{
      #optionsRecherche{
        flex-direction: row;
        align-items: flex-start;

        & > div{
          max-width: 50%;
          margin-top: 0 !important;
        }
      }
    }
}
