@import "navbar";

html, body{
  width: 100vw;
  max-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  margin: 0;
  background: $lightGrey;
}

*{
  box-sizing: border-box;
}

a, p, h2, h3, h4, h5, h6, li, i{
  font-family: $natureSpirit;
}

.btn-orange{
  @include button($orange, white);
}

.btn-corail{
  @include button($corail, white);
}

.btn-gradient_blue_green{
  @include button_gradient($blue_green_gradient, white);
}

.btn-bleu{
  @include button($blue, white);
}

.btn{
  @include button;
}

// div qui gère le contenu dans le body pour toutes les pages
div.page_content{
  margin-top: 150px;
}


/* _____________________________________________________________________________________________________________________

                                                      media queries

_____________________________________________________________________________________________________________________ */

@media screen and (min-width: 1300px){
  div.page_content{
    margin-top: 125px;
  }
}
